<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>285247805166-6c69iql92rddah84nihj0mnuv2p3ubi6.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.285247805166-6c69iql92rddah84nihj0mnuv2p3ubi6</string>
	<key>API_KEY</key>
	<string>AIzaSyDKpfTd-WNcWjWPuCffcXvDaRiSZ2lz-dE</string>
	<key>GCM_SENDER_ID</key>
	<string>285247805166</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.lambdaschool.FoodieFun1</string>
	<key>PROJECT_ID</key>
	<string>foodiefun-34f43</string>
	<key>STORAGE_BUCKET</key>
	<string>foodiefun-34f43.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:285247805166:ios:83c13fef52679a4fab05ff</string>
	<key>DATABASE_URL</key>
	<string>https://foodiefun-34f43.firebaseio.com</string>
</dict>
</plist>